<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="carp-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Carp
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="carp-link">
                <a href="{% url 'products' %}?category=carp_bait_additives" class="dropdown-item">Bait &amp; Additives</a>
                <a href="{% url 'products' %}?category=carp_reels" class="dropdown-item">Reels</a>
                <a href="{% url 'products' %}?category=carp_rods" class="dropdown-item">Rods</a>
                <a href="{% url 'products' %}?category=carp_rod_reel_combo" class="dropdown-item">Rod & Reel Combo</a>
                <a href="{% url 'products' %}?category=carp_terminal_tackle" class="dropdown-item">Terminal Tackle</a>
                <a href="{% url 'products' %}?category=carp_bait_additives,carp_reels,carp_rods,carp_rod_reel_combo,carp_terminal_tackle"
                    class="dropdown-item">All Carp</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="coarse-match-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coarse & Match
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coarse-match-link">
                <a href="{% url 'products' %}?category=coarse_bait_additives" class="dropdown-item">Bait &amp; Additives</a>
                <a href="{% url 'products' %}?category=coarse_reels" class="dropdown-item">Reels</a>
                <a href="{% url 'products' %}?category=coarse_rods" class="dropdown-item">Rods</a>
                <a href="{% url 'products' %}?category=coarse_rod_reel_combo" class="dropdown-item">Rod & Reel Combo</a>
                <a href="{% url 'products' %}?category=coarse_terminal_tackle" class="dropdown-item">Terminal Tackle</a>
                <a href="{% url 'products' %}?category=coarse_bait_additives,coarse_reels,coarse_rods,coarse_rod_reel_combo,coarse_terminal_tackle"
                    class="dropdown-item">All Coarse & Match</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=bite_alarms" class="dropdown-item">Bite Alarms</a>
                <a href="{% url 'products' %}?category=bivvies_shelters" class="dropdown-item">Bivvies & Shelters</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'products' %}?category=line" class="dropdown-item">Line</a>
                <a href="{% url 'products' %}?category=luggage" class="dropdown-item">Luggage</a>
                <a href="{% url 'products' %}?category=nets" class="dropdown-item">Nets</a>
                <a href="{% url 'products' %}?category=rod_supports" class="dropdown-item">Rod Supports</a>
                <a href="{% url 'products' %}?category=scales" class="dropdown-item">Scales</a>
                <a href="{% url 'products' %}?category=sleeping_bags" class="dropdown-item">Sleeping Bags</a>
                <a href="{% url 'products' %}?category=tackle_boxes" class="dropdown-item">Tackle Boxes</a>
                <a href="{% url 'products' %}?category=tools" class="dropdown-item">Tools</a>
                <a href="{% url 'products' %}?category=waders_boots" class="dropdown-item">Waders & Boots</a>
                <a href="{% url 'products' %}?category=bite_alarms,bivvies_shelters,chairs,clothing,luggage,nets,rod_supports,scales,sleeping_bags,tackle_boxes,tools,waders_boots"
                    class="dropdown-item">All Equipment</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'events' %}" id="events-link">
                Events
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>